<a href="https://colab.research.google.com/github/Rosch0/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Podstawowe struktury danych

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(data=[1, 2, 4, 5, 6])   #tworzenie indeksu
s

0    1
1    2
2    4
3    5
4    6
dtype: int64

In [ ]:
s = pd.Series(data=[1, 2, 4, 5], index=['a', 'b', 'c', 'd'], name='sample') #nazywanie indeksów oraz określenie tytułu
s

a    1
b    2
c    4
d    5
Name: sample, dtype: int64

UZUPEŁNIANIE BRAKÓW DANYCH

In [ ]:
import numpy as np
np.nan # specialny znak do wstawiania braków danych

nan

In [ ]:
s = pd.Series(data=[1, np.nan, 4, 5, np.nan], index=['a', 'b', 'c', 'd', 'e'], name='sample') # Brak danych w praktyce
s

a    1.0
b    NaN
c    4.0
d    5.0
e    NaN
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False]) #można indeksować typ bool czyli prawda fałsz
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10)) #obiekt za indeks daty
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
list(s.index) #generuje liste indeksów z wartościami

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s = pd.Series(data=['python', 'java', 'SQL'], name='languages') #można też słowa zamiast liczb
s

0    python
1      java
2       SQL
Name: languages, dtype: object

In [ ]:
type(s) #obiekt typu series

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['python', 'java', 'SQL'], dtype=object)